mixin footer(footer)
    <!-- FOOTER -->
    footer(class="container")
        p(class="float-right")
            a(href="#") Back to top
    
        p Copyright &copy; 2020 PEM Ingenieria SAS. &middot; a(href="#") Privacy &middot; <a href="#">Terms</a></p>
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="../assets/dist/js/bootstrap.bundle.js")