mixin head(slection)
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="PEM Ingenieria SAS Oficial Web Page")
        meta(name="author" content="Juan Pablo Marin Trujillo")
        meta(name="generator" content="Jekyll v4.0.1")
        title Landing Page PEM Ingenieria SAS

        <!-- Bootstrap core CSS -->
        link(href="../assets/dist/css/bootstrap.css" rel="stylesheet")

        style
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        <!-- Custom styles for this template -->
        link(href="../../public/stylesheets/landing.css" rel="stylesheet")
    